<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<header>
    <div>
        <h1 class="font-bold text-center">VAMAR</h1>
    </div>
    {% block desktop_button %}
    {% endblock %}
</header>
<body class="bg-green-100 break-words">
    <div class="min-h-screen bg-green-300 m-5 rounded-lg p-5 shadow-xl">
        {% block content %}{% endblock %}
    </div>
</body>
<footer>
    <div class="bg-green-900 p-4 shadow-xl mx-2 mb-1 rounded-xl">
        <p class="text-center">2022</p>
    </div>
</footer>
</html>